@charset "utf-8";

/* web font */
@font-face {
    font-family: "Jeju Gothic";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/JejuGothic-Regular.eot");
    src: url("../fonts/JejuGothic-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/JejuGothic-Regular.woff2") format("woff2"),
        url("../fonts/JejuGothic-Regular.woff") format("woff");
    font-display: swap;
}

/* reset CSS */
html { height: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;  }
body { height: 100%; margin: 0; line-height: 1.4; letter-spacing: -.5px; }
body, input, textarea, button, select, pre { font-family: "Jeju Gothic", "Malgun Gothic", "AppleGothic", sans-serif; font-size: 15px; color: #000;  word-break: keep-all; }
ul, ol, dl, h1, h2, h3, h4, h5, h6, p, fieldset { margin: 0; padding: 0; }
ul, ol, dl { list-style: none; }
caption, legend { display: none; }
fieldset { border: none; }
textarea { resize: none; }
select { padding-right: 27px !important; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGCAQAAADbJyoPAAACP0lEQVR42u3YuU7DQBAG4K1AnIGeG3G8A10IEM6OAgmJU9wUv3gEHoiHoKEDKcgoIVCDEDcdRbDBhBmT+NyNQBptFXvj/TSenZ1EldTfGUowghGMYAQjGMEIRjAGMDjAPY6Q8k6AydGLY9xg0YPBPEqfI4eGmmF6cOuuOsIxh+7lEgqcY4zShZfymvscky7fcDhtxjGDhPKOYW/O7BJODq1GMQO4I6vNVdhN2CYTrO+XZSRtH8hKM1W2NlbJpCu0GMEM4pWsMu5TZ7BBJuadl6WZ0o9nssIk/Isei46FRq2UPjyRp2ecawEVmEXnHPXaKN12Wf158sTX1cDjgHEsNGuKCt1B2e/rIc4mbJEvXmiITgeLyvTPnVAHJZbJly8TRqeP7aBRei/kqY0VFp32BJv5wZu2kTE2Z4+lcpOGXJnz3o/Qz7BULsTY6L/qSgKMzVkjDysiFYkyxChjleZEw/DoFNEaISpvv+tKUozCDnnoGepCUTrLrZMzpqrNi45RWGdlsClEVO6DoxIXwxsMuzkNKPw0KrN+c+NheHTyPpwulrZZ/xjGxSgsMU5blRJHKemgFxofw6OTq7DReUM5EZzoSTB8Z1mel8Ubytkwuy4ZhrdfRbSQEscaynDVKCmGNxh5l9PLcmUqbGlMjuFHqGV/TuHR7zg0i1HYJIuf4DRa2urG8DPL92SuBYbnjvuTLGqToQ/Du0FPQ1l7DOVk4nSCejEKC/axeB1c+DVg5D89wQhGMIIRjGAEI5h/ivkALYLMcpqwu0EAAAAASUVORK5CYII=") right 8px center no-repeat; background-size: 10px 10px; }
input[type=password]::placeholder { font-family: "Jeju Gothic", "Malgun Gothic", "AppleGothic", sans-serif; }
input[type=password] { font-family: "Malgun Gothic", "AppleGothic", sans-serif; }
a { color: #0681ce; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; transition-duration: 250ms; }
a:active { text-decoration: none; }
a:focus { text-decoration: none; }
.blind { width: 1px; height: 1px; margin: 0 !important; padding: 0 !important; line-height: 1px; text-indent: -9999em; overflow: hidden; position: absolute; top: -9999em; left: -9999em; }
::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder { color: #767676; }
@media screen and (max-width:1000px) {
    body, input, textarea, button, select, pre { font-size: 15px; }
}

/* margin */
.mt-0 { margin-top: 0 !important; }
.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-30 { margin-top: 30px !important; }
.ml-0 { margin-left: 0 !important; }
.ml-5 { margin-left: 5px !important; }
.ml-10 { margin-left: 10px !important; }
.ml-15 { margin-left: 15px !important; }
.ml-20 { margin-left: 20px !important; }
.mr-0 { margin-right: 0 !important; }
.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px !important; }
.mr-15 { margin-right: 15px !important; }
.mr-20 { margin-right: 20px !important; }
.mb-0 { margin-bottom: 0 !important; }
.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-30 { margin-bottom: 30px !important; }

/* display */
.disp-inblock { display: inline-block; }
.disp-block { display: block; }

/* text */
.text-primary { color: #1778cc !important; }
.text-secondary { color: #797676 !important; }
.text-success { color: #68a315 !important; }
.text-info { color: #0681ce !important; }
.text-warning { color: #e8ab03 !important; }
.text-danger { color: #dd3654 !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-bold-5 { font-weight: 500 !important; }
.text-bold-6 { font-weight: 600 !important; }
.requied { color: #d74f4f !important; }
strong { font-weight: 500; }
mark { background-color: #fcf8e3; font-weight: 500; }
h4, .h4 { margin: 0 0 15px 0; font-size: 1.5rem; letter-spacing: -.3px; line-height: 1.35; font-weight: 500; display: block; }
h5, .h5 { margin: 0 0 10px 0; font-size: 1.25rem; letter-spacing: -.3px; line-height: 1.35; font-weight: 500; display: block; }
h6, .h6 { margin: 0 0 7px 0; font-size: 1rem; font-weight: 500; display: block; }

/* badge */
.badge { padding: 5px 10px 3px 10px; border: 1px solid #D9D9D9; border-radius: 5px; box-sizing: border-box; line-height: 1; color: #fff; text-align: center; font-weight: 500; font-size: .875rem; white-space: nowrap; vertical-align: baseline; display: inline-block; }
.badge-primary { background-color: #e8f4ee; border-color: #e8f4ee; color: #1778cc; }
.badge-secondary { background-color: #f2f3f4; border-color: #f2f3f4; color: #797676; }
.badge-success { background-color: #e8f3f3; border-color: #e8f3f3; color: #68a315; }
.badge-info { background-color: #e9f2f6; border-color: #e9f2f6; color: #129992; }
.badge-warning { background-color: #f5f2e8; border-color: #f5f2e8; color: #e8ab03; }
.badge-danger { background-color: #fcedef; border-color: #fcedef; color: #dd3654; }
.badge-dark { background-color: #f0f0f0; border-color: #f0f0f0; color: #595959; }
.badge-outline-primary { background-color: #fff; border-color: #1778cc; color: #1778cc; }
.badge-outline-secondary { background-color: #fff; border-color: #727780; color: #727780; }
.badge-outline-success { background-color: #fff; border-color: #68a315; color: #68a315; }
.badge-outline-info { background-color: #fff; border-color: #129992; color: #129992; }
.badge-outline-warning { background-color: #fff; border-color: #e8ab03; color: #e8ab03; }
.badge-outline-danger { background-color: #fff; border-color: #f04927; color: #f04927; }
.badge-outline-dark { background-color: #fff; border-color: #595959; color: #595959; }

/* form */
.form-group { margin-bottom: 15px; }
.form-group.date { display: flex; }
.form-group.date [type="date"] { width: 82px; }
.form-group .hyphen { margin: 0 5px; display: flex; align-items: center; }

/* input */
.form-control { width: 100%; min-height: 27px; padding: 5px 10px 3px 10px; background-color: #e7e7e7; border: 1px solid #e7e7e7; box-sizing: border-box; border-radius: 7px; color: #3b3333; font-size: .875rem; font-weight: normal; }
.form-range { width: 100%; }
.size-sm { padding: 7px 10px; font-size: .813rem; }
.size-lg { padding: 15px 10px; border-radius: 10px; font-size: 1.125rem; }

/* size */
.w-xs { width: 80px !important; }
.w-sm { width: 100px !important; }
.w-md { width: 150px !important; }
.w-lg { width: 200px !important; }
.w-xl { width: 250px !important; }
.w-full { width: 100% !important; }
.w-2xl { width: 300px !important; }
.w-3xl { width: 350px !important; }
.w-4xl { width: 400px !important; }
.w-5xl { width: 450px !important; }
.w-6xl { width: 500px !important; }
.w-7xl { width: 600px !important; }

/* 체크박스, 라디오버튼 커스텀 */
.custom-control { display: flex; position: relative; }
.custom-control input[type="radio"], .custom-control input[type="checkbox"] { width: 16px; margin: 0 -16px 0 0; opacity: 0; z-index: auto; }
.custom-control label { padding: 0 0 0 25px; line-height: 1.3; cursor: pointer; text-align: left; display: inline-block; position:relative; }
.custom-control label:before, .custom-control label:after { content: ""; display: block; position: absolute; top: 0; left: 0; }
.custom-control label:before { width: 18px; height: 18px; background-color: #fff; border: 2px solid #b9b8b8; border-radius: 3px; box-sizing: border-box; }
.custom-control input[type="radio"] + label:before, .custom-control input[type="radio"] + label:after { border-radius: 50px; }
.custom-control input[type="radio"]:checked + label:after { width: 9px; height: 9px; margin: 4px; background-color: #1778cc; }
.custom-control input[type="checkbox"]:checked + label:before { background-color: #6e41de; border-color: #6e41de; }
.custom-control input[type="checkbox"]:checked + label:after { width: 9px; height: 4px; margin: 4px 3px; border-left: 2px solid #fff; border-bottom: 2px solid #fff; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.custom-control input[disabled] + label { color: #8c8c8c; }
.custom-control input[disabled] + label:before { background-color: #e8e8e8; }
.custom-control.check-lg label { padding: 0 0 0 28px; font-size: 1.125rem; }
.custom-control.check-lg label:before { width: 19px; height: 19px; }
.custom-control.check-lg input[type="checkbox"]:checked + label:after { width: 11px; height: 5px; margin: 5px 4px; }
.custom-switch { padding-left: 2.1rem; }
.custom-switch label { padding: 0; }
.custom-switch .custom-control-label::before { left: -2.1rem; width: 1.75rem; pointer-events:all;border-radius: .5rem; }
.custom-switch .custom-control-label::after { top: 4px; left: -30px; width: 10px !important; height: 10px !important; background-color: #b9b8b8; border-radius: .5rem; -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
@media (prefers-reduced-motion:reduce){
	.custom-switch .custom-control-label::after { -webkit-transition:none;transition:none; }
}
.custom-switch .custom-control-input:checked~.custom-control-label::after { background-color: #fff; margin: 0; border: none; -webkit-transform: translateX(11px); transform: translateX(11px)}
.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before { background-color: rgba(5,173,182,.5) }

/* 버튼형 라디오 버튼 */
.btn-group { display: flex; position: relative; }
.btn-group .btn-check { clip: rect(0, 0, 0, 0); position: absolute; }
.btn-group .btn-check:focus + label { outline: 2px solid #000; }
.btn-group .btn-check:checked + .btn { border-color: #1778cc; color: #1778cc; z-index: 3; }
.btn-group > .btn:not(:last-child), .btn-group > .btn-group:not(:last-child) > .btn { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn, .btn-group > .btn-group:not(:first-child) > .btn { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.btn-group > :not(.btn-check:first-child) + .btn { margin-left: -1px; }
.btn-group .active { background-color: #6e41de; color: #fff; }

/* button */
.btn { padding: 4px 15px; background-color: transparent; border: 1px solid transparent; box-sizing: border-box; color: #fff; border-radius: 5px; font-size: .875rem; text-align: center; font-weight: normal; line-height: 1.25; display: inline-block; cursor: pointer; }
.btn:hover { text-decoration: none; transition-duration: 250ms; }
.btn-sm { padding: 4px 10px 2px 10px; border-radius: 5px; font-size: .813rem; }
.btn-lg { padding: 15px 20px; border-radius: 10px; font-size: 1.125rem; }
.btn-block { width: 100%; display: block; }
.btn-primary { background-color: #1778cc; border-color: #606060; }
.btn-primary:hover { background-color: #1466ae; border-color: #606060; }
.btn-secondary { background-color: #727780; border-color: #606060; }
.btn-secondary:hover { background-color: #5b5f66; border-color: #606060; }
.btn-success { background-color: #68a315; border-color: #606060; }
.btn-success:hover { background-color: #598b12; border-color: #606060; }
.btn-info { background-color: #129992; border-color: #606060; }
.btn-info:hover { background-color: #0f827c; border-color: #606060; }
.btn-warning { background-color: #e8ab03; border-color: #606060; }
.btn-warning:hover { background-color: #c59203; border-color: #606060; }
.btn-danger { background-color: #f04927; border-color: #606060; }
.btn-danger:hover { background-color: #cc3e21; border-color: #606060; }
.btn-light { background-color: #fff; border-color: #606060; color: #000; }
.btn-light:hover { background-color: #FBFBFB; border-color: #606060; }
.btn-dark { background-color: #8b8888; border-color: #606060; }
.btn-dark:hover { background-color: #525252; border-color: #606060; }

.btn-outline-primary { background-color: #fff; border-color: #1778cc; color: #1778cc; }
.btn-outline-primary:hover { background-color: #ebf5f0; border-color: #006732; color: #006732; }
.btn-outline-secondary { background-color: #fff; border-color: #727780; color: #727780; }
.btn-outline-secondary:hover { background-color: #f4f4f5; border-color: #5b5f66; color: #5b5f66; }
.btn-outline-success { background-color: #fff; border-color: #68a315; color: #68a315; }
.btn-outline-success:hover { background-color: #ebf4f4; border-color: #00615e; color: #00615e; }
.btn-outline-info { background-color: #fff; border-color: #129992; color: #129992; }
.btn-outline-info:hover { background-color: #ecf3f7; border-color: #0567a5; color: #0567a5; }
.btn-outline-warning { background-color: #fff; border-color: #e8ab03; color: #e8ab03; }
.btn-outline-warning:hover { background-color: #f7f4eb; border-color: #765b01; color: #765b01; }
.btn-outline-danger { background-color: #fff; border-color: #f04927; color: #f04927; }
.btn-outline-danger:hover { background-color: #fdf5f6; border-color: #af2c3e; color: #af2c3e; }
.btn-outline-dark { background-color: #fff; border-color: #595959; color: #595959; }
.btn-outline-dark:hover { background-color: #f7f7f7; border-color: #474747; color: #474747; }

/* 버튼 아이콘 */
.btn .ico { width: 20px; height: 20px; margin-right: 8px; background: url("../images/btn_icon.png") no-repeat 0 0; vertical-align: middle; display: inline-block; }
.ico.ico-reset { background-position: 0 0; }
.ico.ico-search { background-position: -25px 0; }

/* 목록 스타일 */
.list-type { padding-left: 15px; }
.list-type li { position: relative; }
.list-type li + li { margin-top: 4px; }
.list-type > li ul { margin: 5px 0 10px 0; padding-left: 0; }
.list-type > li > ul > li ul { margin-left: 10px; }
.list-type.dot > li:before { width: 4px; height: 4px; content: ""; background-color: #00827F; border-radius: 10px; display: block; position: absolute; top: 9px; left: -9px; }
.list-type.dot > li > ul { padding-top: .2rem; }
.list-type.decimal { padding-left: 20px; list-style-type: decimal; list-style-position: outside; }
.list-type.decimal > li > ul { padding-top: .2rem; }
.list-type.ganada > li { padding-left: 8px; position: relative; }
.list-type.ganada > li > i { font-style: normal; position: absolute; left: -15px; }
.list-type.hyphen > li:before { width: 7px; height: 1px; content: ""; background-color: #000; display: block; position: absolute; top: 10px; left: -13px; }
.list-type.hyphen > li > ul { padding-top: .2rem; }

/* info ment */
* + .info-ment  { margin: 7px 0 0 0; }
.info-ment { padding: 0px 0 0 18px; color: #767676; font-size: .938rem; line-height: 1.3; display: inline-block; position: relative; }
.info-ment:before { width: 13px; height: 13px; content: ""; background: url("../images/common/base_sprite.png") no-repeat 0 0; background-position: -128px -45px; display: inline-block; position: absolute; top: 3px; left: 0; }
.wrong-ment { padding: 0px 0 0 18px; color: #f04927; font-size: .938rem; line-height: 1.3; display: inline-block; position: relative; }
.wrong-ment:before { width: 13px; height: 13px; content: ""; background: url("../images/common/base_sprite.png") no-repeat 0 0; background-position: -144px -45px; display: inline-block; position: absolute; top: 3px; left: 0; }

/* 테이블 상단 컨텐츠 */
.table-utility { margin-bottom: 15px; display: flex; align-items: center; }
.table-utility .left { margin-right: auto; }
.table-utility .center { margin: 0 auto; }
.table-utility .right { margin-left: auto; }
.table-utility .txt span { color: #1778cc; font-weight: 500; }
.table-utility .count span { margin-right: 2px; }
.table-utility .btn { width: auto; }

/* 테이블 (본문용) */
.table { width: 100%; margin: 20px 0; border-collapse: collapse; border-spacing: 0; box-sizing: border-box; position: relative; }
.table th, .table td { padding: 5px 13px 3px 13px; border-bottom-width: 1px; border-left-width: 1px; border-right-width: 1px; border-width: 1px; border-style: solid; border-color: #b9b9b9; text-align: center; font-size: .875rem; line-height: 1.35; word-wrap: break-word; word-break: keep-all; vertical-align: middle; }
.table:before { width: 100%; height: 1px; content: ""; background-color: #000; display: block; position: absolute; left: 0; top: 0; }
.table th:first-child, .table td:first-child { border-left: none; }
.table th:last-child, .table td:last-child { border-right: none; }
.table thead th { padding: 11px 10px; border-bottom: 0; font-weight: 500; }
.table tbody th { font-weight: normal; }
.table tbody td * { vertical-align: middle; }
.col-table thead th { padding: 11px 10px; background-color: #f6f6f6; border-bottom: 0; font-weight: 500; }
.row-table tbody th { background-color: #f6f6f6; font-weight: 500; }
.table-scroll .table { margin: 0; }

/* 데이터 테이블 */
.data-table { margin: 0 0 20px 0; }
.data-table thead th { padding: 5px 13px 3px 13px; background-color: #f7f7f7; font-weight: 500; }
.data-table tbody td { padding: 5px 13px 3px 13px; }
.data-table .none { width: 100%; padding: 8rem 0; color: #767676; text-align: center; }
.data-table th a, .data-table td a:not(.btn) { color: #000; }
.data-table th a:hover, .data-table td a:not(.btn):hover { color: #00813e; }
.data-table.hover tr:hover:not(tr.active) { background-color: rgba(110,65,222,.06); cursor: pointer; }
.data-table tr.active { background-color: rgba(110,65,222,.12); }

/* 상세 테이블 */
.detail-table tbody th { padding: 5px 13px 3px 13px; background-color: #f7f7f7; font-weight: 500; }
.detail-table tbody td { padding: 5px 13px 3px 13px; }
.detail-table td a { color: #000; }
.detail-table td a:hover { color: #00813e; }

/* 요소 하단 버튼 그룹 */
.action-btn-group { display: flex; justify-content: center; }
.action-btn-group .center, .action-btn-group .left, .action-btn-group .right { display: flex; }
.action-btn-group .btn + .btn { margin-left: .5rem; }
.action-btn-group .left { margin-right: auto; }
.action-btn-group .right { margin-left: auto; }
.action-btn-group .full { width: 100%; display: flex; }
.action-btn-group .full .btn { width: 100%; }
form + .action-btn-group { margin-top: 10px; }

/* 페이지넘버 */
.pagination { margin-bottom: .5rem; display: flex; align-items: center; justify-content: center; }
.pagination ul { margin: 0; display: flex; }
.pagination ul li { vertical-align: middle; display: inline-block; }
.pagination ul li a { min-width: 28px; height: 28px; padding: 0 10px; border-radius: 5px; box-sizing: border-box; color: #444444; text-decoration: none; display: flex; align-items: center; justify-content: center; position: relative; }
.pagination ul li a span { position: relative; bottom: -1px; }
.pagination ul li.first, .pagination ul li.prev { margin-right: 5px; }
.pagination ul li.next, .pagination ul li.last { margin-left: 5px; }
.pagination ul li.first a, .pagination ul li.prev a, .pagination ul li.next a, .pagination ul li.last a { width: 28px; height: 28px; background: url("../images/btn_icon.png") no-repeat 0 0; border: 1px solid #b9b9b9; position: relative; }
.pagination ul li.first a:hover, .pagination ul li.prev a:hover, .pagination ul li.next a:hover, .pagination ul li.last a:hover { background-color: #F6F7F8; }
.pagination .active > a, .pagination .active > a:hover, .pagination .active > a:focus { background-color: #1778cc; color: #fff; text-decoration: none; }
.pagination ul li a:hover, .pagination li a:focus { color: #1778cc; text-decoration: underline; }
.pagination ul li.first a { background-position: 0 -25px; }
.pagination ul li.prev a { background-position: -33px -25px; }
.pagination ul li.next a { background-position: -66px -25px; }
.pagination ul li.last a { background-position: -99px -25px; }
.pagination ul li.disabled a { opacity: .6; cursor: default; }
.pagination ul li.disabled a:hover { background-color: #fff; }

/* modal */
.modal { width: 100%; height: 100%; background-color: rgba(0,0,0,.8); overflow: auto; display: none; position: fixed; left: 0; top: 0; z-index: 900; }
.modal-lg { max-width: 800px !important; }
.modal-xl { max-width: 1000px !important; }
.modal .modal-sandbox { width: 100%; height: 100%; background-color: transparent; position: fixed; top: 0; left: 0; }
.modal .modal-content { width: 90%; max-width: 500px; margin: 100px auto; position: relative; animation-name: modalbox; animation-duration: .4s; animation-timing-function: cubic-bezier(0,0,.3,1.6); }
.modal .modal-head { padding: 13px 20px; background-color: #2c17ca; display: flex; position: relative; }
.modal .modal-head .tit { margin-right: auto; color: #fff; font-size: 1rem; }
.modal .modal-head .btn-close { width: 46px; height: 46px; cursor: pointer; display: inline-block; position: absolute; top: 0; right: 0; }
.modal .modal-head .btn-close span { display: none; }
.modal .modal-head .btn-close:before, .modal .modal-head .btn-close:after { width: 20px; height: 2px; content: ""; background-color: #fff; position: absolute; top: 22px; right: 12px; }
.modal .modal-head .btn-close:before { transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); -ms-transform: rotate(-135deg); }
.modal .modal-head .btn-close:after { transform: rotate(135deg); -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); -ms-transform: rotate(135deg); }
.modal .modal-body { min-height: 100px; padding: 20px; background-color: #fff; }
.modal .modal-body .action-btn-group { margin-top: 25px; }
@-webkit-keyframes modalbox {
  0% { top: -250px; opacity: 0; }
  100% { top: 0; opacity: 1; }
}
@keyframes modalbox {
  0% { top: -250px; opacity: 0; }
  100% { top: 0; opacity: 1; }
}
/* modal : alert */
.alert-ment { text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; }
.alert-ment:before { width: 50px; height: 50px; margin-bottom: 15px; content: ""; background: url("../images/btn_icon.png") no-repeat 0 0; display: inline-block; }
.alert-ment.success:before { background-position: 0 -76px; }
.alert-ment.info:before { background-position: -55px -76px; }
.alert-ment.save:before { background-position: -110px -76px; }
.alert-ment.danger:before { background-position: -165px -76px; }

/* Tab */
.tab { width: 100%; display: flex; }
.tab > ul { width: 100%; margin: 0; padding: 0; display: flex; justify-content: center; align-items: flex-start; position: relative; }
.tab > ul > li { text-align: center; display: flex; }
.tab > ul > li > a { width: 100%; padding: 4px 15px 2px 15px; background-color: #e7e7e7; box-sizing: border-box; color: #808080; text-decoration: none; position: relative; }
.tab > ul > li + li > a { border-left: 1px solid #d3d3d3; }
.tab > ul > li:first-child  > a { border-radius: 6px 0 0 6px; }
.tab > ul > li:last-child > a { border-radius: 0 6px 6px 0; }
.tab > ul > li > a > span { box-sizing: border-box; display: inline-block; cursor: pointer; }
.tab > ul > li .tab-pane { width: 100%; margin: 0; border: 0; box-sizing: border-box; list-style: none; display: none; position: absolute; top: 40px; left: 0; }
.tab > ul > li.active .tab-pane { display: block; }
.tab > ul > li.active > a { background-color: #6e41de; color: #fff; z-index: 38; }
.tab > ul > li.active > a > span { font-weight: 500; }

/* 아코디언 */
.accordion { margin-bottom: 30px; }
.accordion > .tit { height: 39px; margin: 0 0 20px 0; padding: 7px 42px 7px 15px; background-color: #6e41de; border-radius: 70px; box-sizing: border-box; color: #fff; font-size: 1.188rem; font-weight: normal; display: flex; position: relative; }
.accordion > .tit:hover { text-decoration: none; }
.accordion > .tit:after { width: 8px; height: 8px; content: ""; border-left: 2px solid #fff; border-bottom: 2px solid #fff; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); position: absolute; top: 11px; right: 17px; }
.accordion > .tit.active:after { transform: rotate(-225deg); top: 16px; }
.accordion > .tit.active + * { display: block; }
.accordion > .tit + * { display: none; }

/* 트리메뉴 */
.treemenu > ul > li { padding-left: 19px; position: relative; }
.treemenu > ul > li + li { margin-top: 7px; }
.treemenu > ul > li:before { width: 13px; height: 13px; content: ""; background: url("../images/btn_icon.png") no-repeat 0 0; background-position: 0 -58px; display: inline-block; position: absolute; top: 2px; left: 0; }
.treemenu > ul > li.active:before { background-position: -18px -58px; }
.treemenu > ul > li > a { color: #000; }
.treemenu > ul > li > ol { margin: 5px 0 10px 0; display: none; }
.treemenu > ul > li.active > ol { display: block; }
.treemenu > ul > li > ol > li { display: flex; }
.treemenu > ul > li > ol > li + li { margin-top: 3px; }
.treemenu > ul > li > ol > li > span { margin-right: auto; }
.treemenu > ul > li > ol > li > span + * { margin-left: auto; }

/* 검색조건 */
.search-condition { margin-bottom: 30px; padding: 15px 20px; border: 1px solid #b9b9b9; display: flex; flex-direction: column; }
.search-condition .tr { display: flex; flex-wrap: wrap; }
.search-condition .tr .form-group { margin: 0; display: block; }
.search-condition .tr .form-group + .form-group { margin: 0 0 0 20px; }
.search-condition .tr .lable { width: 100%; margin-bottom: 5px; font-size: .938rem; display: block; }
.search-condition .tr .lable.w-sm { min-width: 110px; }
.search-condition .tr .form-control { min-width: 150px; }
.search-condition .tr .form-control + .form-control { margin-left: 7px; }
.search-condition .tr .form-control[type="text"] { min-width: 200px; }
.search-condition .tr .date { display: flex; }
.search-condition .action-btn-group { margin-left: auto; padding-left: 20px; }

.multi-select { width: 100%; position: relative; }
.select-box { position: relative; }
.select-box select { width: 100%; min-height: 27px; padding: 5px 10px 3px 10px; background-color: #e7e7e7; border: 1px solid #e7e7e7; box-sizing: border-box; border-radius: 7px; color: #3b3333; font-size: .875rem; font-weight: normal; }
.over-select { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
#checkboxes { width: 100%; height: 120px; background-color: #e7e7e7; border: 1px solid #e7e7e7; box-sizing: border-box; border-radius: 7px; color: #3b3333; font-size: .875rem; overflow-y: auto; display: none; position: absolute; }
#checkboxes label { padding: 1px 3px; display: block; }
#checkboxes label:hover { background-color: #1967D2; color: #fff; }
#checkboxes input { position: relative; top: 2px; }
