@charset "utf-8";

/* 통계조건 */
.stat-condition { display: flex; position: absolute; top: 48px; left: 0; transform: translateX(390px); transition-duration: 250ms; }
.stat-condition .btn-fold.active { clip-path: inset(50%); }
.stat-condition .btn-fold { width: 226px; height: 52px; margin: 0; padding: 0 25px; background-color: #eaebed; border: 1px solid #7b7e83; box-sizing: border-box; box-shadow: rgba(0,0,0,.05) 5px 0px 10px; color: #000; text-align: center; display: flex; align-items: center; clip-path: none; position: absolute; top: -1px; left: 0; transition-duration: 250ms; }
.stat-condition .btn-fold:hover { text-decoration: none; }
.stat-condition .btn-fold span { margin-right: auto; font-size: 1.188rem;  }
.stat-condition .btn-fold:after { width: 12px; height: 12px; margin-left: auto; content: ""; border-left: 2px solid #717070; border-bottom: 2px solid #717070; -ms-transform: rotate(-135deg); -webkit-transform: rotate(-135deg); transform: rotate(-135deg); position: relative; top: -1px; left: -4px; }
.stat-condition .content { width: 312px; background-color: #fff; border-right: 1px solid #c1c1c1; border-bottom: 1px solid #c1c1c1; box-shadow: rgba(0,0,0,.05) 5px 0px 10px; display: none; transition-duration: 250ms; }
.stat-condition .content .head { height: 50px; padding: 0 20px; background-color: #f5f5f5; display: flex; align-items: center; }
.stat-condition .content .head h3 { font-size: 1.188rem; font-weight: normal; }
.stat-condition .content .head .btn-close { width: 40px; height: 40px; cursor: pointer; display: inline-block; position: absolute; top: 4px; right: 10px; }
.stat-condition .content .head .btn-close span { display: none; }
.stat-condition .content .head .btn-close:before, .stat-condition .content .head .btn-close:after { width: 20px; height: 2px; content: ""; background-color: #7b7e83; position: absolute; top: 18px; right: 9px; }
.stat-condition .content .head .btn-close:before { transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); -ms-transform: rotate(-135deg); }
.stat-condition .content .head .btn-close:after { transform: rotate(135deg); -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); -ms-transform: rotate(135deg); }
.stat-condition .content .body { padding: 30px 20px; }
.stat-condition .content .body > ul > li { display: flex; align-items: center; }
.stat-condition .content .body > ul > li + li { margin-top: 30px; }
.stat-condition .content .body > ul > li > label { width: 80px; min-width: 80px; margin-right: 8px; padding-left: 10px; box-sizing: border-box; font-size: 1rem; line-height: 1.25; color: #6f6f6f; display: flex; flex-wrap: wrap; position: relative; }
.stat-condition .content .body > ul > li > label:before { width: 3px; min-width: 3px; height: 15px; content: ""; background-color: #6e41de; border-radius: 5px; display: inline-block; position: absolute; top: 1px; left: 0; }
.stat-condition .content .body > ul > li > label > em { font-size: .875rem; font-style: normal; display: inline-block; }
.stat-condition .content .body > ul > li .form-group { width: 100%; margin-bottom: 0; display: flex; }
.stat-condition .content .body > ul > li .btn-group { width: 100%; }
.stat-condition .content .body > ul > li .btn-group .btn { width: 100%; padding: 6px 6px; font-size: .875rem; }
.stat-condition .content .body .action-btn-group { margin-top: 60px; }
.stat-condition .content .body .range-group { width: 100%; display: flex; flex-direction: column; }
.stat-condition .content .body .range-text { width: 100%; display: flex; }
.stat-condition .content .body .range-text li { width: 25%; font-size: .75rem; text-align: center; }
.stat-condition .content .body .range-text li:first-child { text-align: left; }
.stat-condition .content .body .range-text li:last-child { text-align: right; }

/* 통계보드 */
.stat-board { width: 390px; box-shadow: rgba(0,0,0,.2) 5px 5px 10px; display: none; position: absolute; top: 250px; right: 15px; }
.stat-board.show { display: block; }
.stat-board .head { padding: 13px 20px; background-color: #2c17ca; display: flex; position: relative; }
.stat-board .head .tit { margin-right: auto; color: #fff; font-size: 1rem; }
.stat-board .head .btn-fold { width: 40px; height: 46px; cursor: pointer; display: inline-block; position: absolute; top: 0; right: 35px; }
.stat-board .head .btn-fold:before { width: 12px; height: 12px; content: ""; border-left: 2px solid #fff; border-bottom: 2px solid #fff; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); position: absolute; top: 13px; right: 13px; }
.stat-board .head .btn-fold.active:before { transform: rotate(-225deg); position: absolute; top: 20px; }
.stat-board .head .btn-fold span { display: none; }
.stat-board .head .btn-close { width: 46px; height: 46px; cursor: pointer; display: inline-block; position: absolute; top: 0; right: 0; }
.stat-board .head .btn-close span { display: none; }
.stat-board .head .btn-close:before, .stat-board .head .btn-close:after { width: 20px; height: 2px; content: ""; background-color: #fff; position: absolute; top: 22px; right: 12px; }
.stat-board .head .btn-close:before { transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); -ms-transform: rotate(-135deg); }
.stat-board .head .btn-close:after { transform: rotate(135deg); -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); -ms-transform: rotate(135deg); }
.stat-board .body { min-height: 100px; padding: 20px; background-color: #fff; }
.stat-board .body .tit { margin-bottom: 10px; font-size: 1.063rem; color: #6f6f6f; display: flex; }
.stat-board .body .tit:before { width: 3px; height: 16px; margin-right: 7px; content: ""; background-color: #21b699; border-radius: 5px; display: inline-block; position: relative; top: 2px; }
.stat-board .body .tab { margin-bottom: -35px; position: relative; top: -36px; }
.stat-board .body .tab > ul { justify-content: flex-end; }
.stat-board .body .tab > ul > li .tab-pane { top: 50px; }
.stat-board .body .tab > ul > li > a { padding: 4px 25px 2px 25px; }
.stat-board .source { font-size: 1.063rem; color: #6f6f6f; display: flex; }
.stat-board .source .left { margin-right: auto; }
.stat-board .source .right { margin-left: auto; }

/* 이상거래 일람*/
.abno-transaction { width: 100%; position: fixed; bottom: -230px; z-index: 75; transition-duration: 250ms; }
.abno-transaction.show { bottom: 0; }
.abno-transaction .head { display: flex; justify-content: center; position: relative; }
.abno-transaction .head .center { margin: 0 auto; display: flex; justify-content: center; position: absolute; bottom: 0; }
.abno-transaction .head .center a { width: 170px; height: 35px; padding: 0 25px; background-color: #fff; border: 1px solid #909090; border-bottom: none; border-radius: 6px 6px 0 0; box-sizing: border-box; color: #727da8; display: flex; align-items: center; justify-content: center; position: relative; z-index: 65; }
.abno-transaction .head .center a:hover { text-decoration: none; }
.abno-transaction .head .center a + a { margin-left: 4px; }
.abno-transaction .head .center .btn-fold { width: 90px; background-color: #0a32c6; border-color: #0a32c6; color: #fff; }
.abno-transaction .head .center .btn-fold:after { width: 8px; height: 8px; content: ""; border-left: 2px solid #fff; border-bottom: 2px solid #fff; transform: rotate(-225deg); position: relative; top: 2px; }
.abno-transaction .head .center .btn-fold span { display: none; }
.abno-transaction .head .center .btn-fold.active { width: 170px; }
.abno-transaction .head .center .btn-fold.active:after { margin-left: 20px; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: -4px; }
.abno-transaction .head .center .btn-fold.active span { display: inline-block; }
.abno-transaction .head .center .btn-mapmark { display: none; }
.abno-transaction .head .center .btn-mapmark span { width: 52px; margin-left: 10px; padding: 2px 0; border-radius: 70px; font-size: .625rem; color: #fff; text-align: center; display: inline-block; position: relative; top: -1px; }
.abno-transaction .head .center .btn-mapmark .on { background-color: #ff9000; }
.abno-transaction .head .center .btn-mapmark .off { background-color: #a89e91; }
.abno-transaction .head .right { display: none; position: absolute; right: 0; }
.abno-transaction.show .head .right, .abno-transaction.show .head .center .btn-mapmark { display: flex; }
.abno-transaction .window-resize { width: 210px; height: 38px; padding: 0 8px; background-color: #3952ad; border-radius: 6px; box-sizing: border-box; display: flex; align-items: center; position: relative; right: 30px; bottom: 45px; }
.abno-transaction .window-resize strong { width: 75px; text-align: center; color: #fff; }
.abno-transaction .window-resize a { width: 37px; height: 25px; background-color: #fff; border-radius: 3px; overflow: hidden; display: flex; align-items: center; justify-content: center; position: relative; transition-duration: 250ms; }
.abno-transaction .window-resize a:hover { text-decoration: none; }
.abno-transaction .window-resize a + a { margin-left: 4px; }
.abno-transaction .window-resize a span { font-size: .813rem; color: #655a43; letter-spacing: -1px; display: inline-block; position: relative; }
.abno-transaction .body { width: 100%; height: 230px; padding: 15px; background-color: #fff; border-top: 1px solid #949494; box-shadow: rgba(0,0,0,.2) 0px 5px 10px; box-sizing: border-box; transition-duration: 250ms; }
.abno-transaction .body.small { height: 230px; }
.abno-transaction .body.half { height: 70vh; }
.abno-transaction .body.full { height: 122vh; }
.abno-transaction .window-resize a.small:before { width: 100%; height: 25%; content: ""; background-color: #c2d8fa; display: inline-block; position: absolute; bottom: 0; }
.abno-transaction .window-resize a.half:before { width: 100%; height: 50%; content: ""; background-color: #c2d8fa; display: inline-block; position: absolute; bottom: 0; }
.abno-transaction .window-resize a.full:before { width: 100%; height: 100%; content: ""; background-color: #c2d8fa; display: inline-block; position: absolute; bottom: 0; }
.abno-transaction .window-resize a.active span { color: #0a32c6; }
.abno-transaction .data-table { margin: 0; }
.abno-transaction .data-table thead th, .abno-transaction .data-table tbody th, .abno-transaction .data-table tbody td { padding: 3px 5px; font-size: .813rem; word-break: break-all; }
.abno-transaction .data-table thead th { border-color: #fff; }
.abno-transaction .data-table thead tr:nth-child(1) th { background-color: #0a32c6; color: #fff; }
.abno-transaction .data-table thead tr:nth-child(2) th { background-color: #c2d8fa; color: #3b3b3b; }
.abno-transaction .data-table:before { display: none; }
.abno-transaction .data-table tbody th, .abno-transaction .data-table tbody td { border-color: #a2a2a2; }
.abno-transaction .data-table .num { background-color: #d5d5d5; }
.abno-transaction .data-table .bg-green { background-color: #70e000; color: #1b9212; }
.abno-transaction .data-table .bg-yellow { background-color: #fcbf49; color: #9e6829; }
.abno-transaction .data-table .bg-red { background-color: #c94e4e; color: #ff9100; }
.abno-transaction .data-table .bg-orange { background-color: #e7a832; color: #ffee00; }
.abno-transaction .data-table .bg-blue1020 { background-color: #00a6fb; color: #09dbf7; }
.abno-transaction .data-table .bg-blue2030 { background-color: #0582ca; color: #0906d6; }
.abno-transaction .data-table .bg-blue30 { background-color: #006494; color: #001aff; }
.abno-transaction .fixed-thead { margin-right: 15px; border: 1px solid #737373; border-bottom: none; }
.abno-transaction .tbody { margin-right: 15px; border: 1px solid #737373; border-top: none; position: relative; }
.abno-transaction.show .tbody:after { width: calc(100% - 46px); height: 1px; content: ""; background-color: #a4a4a4; position: fixed; bottom: 18px; }

/* 주택동향 */
.tit + .house-trend { padding: 0 10px; }
.house-trend li { display: flex; align-items: flex-start; }
.house-trend li + li { margin-top: 10px; }
.house-trend li .custom-control + * { margin-left: auto; }
.house-trend li > .btn-sm { position: relative; top: -3px; }
.house-trend li > .btn-sm { padding: 3px 10px 1px 10px; }
.house-trend li .icon { padding-left: 48px; position: relative; }
.house-trend li .icon i { width: 18px; height: 18px; vertical-align: middle; display: inline-block; position: absolute; left: 24px; }
.house-trend li .icon i img { width: 100%; height: 100%; }
.house-trend li .custom-switch { padding-left: 2rem; }
.house-trend li .custom-switch .custom-control-label::before { left: -2rem; }
.house-trend li .custom-switch .custom-control-label::after { left: -29px; }
.time-series { width: 850px !important; left: 92px; bottom: 15px; z-index: 76; }

/* 주제도 순서변경 */
.change-order { display: flex; position: fixed; top: 48px; left: 0; transform: translateX(390px); transition-duration: 250ms; }
.change-order .content { width: 312px; background-color: #fff; border-right: 1px solid #c1c1c1; border-bottom: 1px solid #c1c1c1; box-shadow: rgba(0,0,0,.05) 5px 0px 10px; display: none; transition-duration: 250ms; }
.change-order .content .head { height: 50px; padding: 0 30px; background-color: #f5f5f5; display: flex; align-items: center; }
.change-order .content .head h3 { font-size: 1.188rem; font-weight: normal; }
.change-order .content .head .btn-close { width: 40px; height: 40px; cursor: pointer; display: inline-block; position: absolute; top: 4px; right: 10px; }
.change-order .content .head .btn-close span { display: none; }
.change-order .content .head .btn-close:before, .change-order .content .head .btn-close:after { width: 20px; height: 2px; content: ""; background-color: #7b7e83; position: absolute; top: 18px; right: 9px; }
.change-order .content .head .btn-close:before { transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); -ms-transform: rotate(-135deg); }
.change-order .content .head .btn-close:after { transform: rotate(135deg); -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); -ms-transform: rotate(135deg); }
.change-order .content .body { padding: 30px 30px 30px 23px; }
.btn-change { width: 18px; height: 18px; margin-right: 7px; background-color: #1778cc; border: 1px solid #606060; border-radius: 3px; display: flex; align-items: center; justify-content: center; }
.btn-change:hover { background-color: #1466ae; border-color: #606060; }
.btn-change:before { width: 15px; height: 15px; content: ""; background: url("../images/btn_icon.png") no-repeat 0 0; background-size: 375px auto; background-position: -37px 0; display: inline-block; position: relative; left: -1px; }
.btn-change span { display: none; }

/* 검색 */
.search .tab > ul > li { flex: 1; }
.search .tab > ul > li:nth-child(3) { flex: 2; }
.search .guide-ment { text-align: center; }
.search .guide-ment strong { color: #000; }
.search .tit { margin-bottom: 10px; font-size: 1.063rem; color: #6f6f6f; display: flex; }
.search .tit:before { width: 3px; height: 16px; margin-right: 7px; content: ""; background-color: #21b699; border-radius: 5px; display: inline-block; position: relative; top: 2px; }
.search-form { margin-bottom: 15px; display: flex; align-items: center; }
.search-form .keyword { width: 100%; margin: 10px 0; padding: 0; background-color: #fff; border: 2px solid #6e41de; border-radius: 7px; box-sizing: border-box; position: relative; }
.search-form .keyword .form-control {	height: 40px; padding-right: 40px; background-color: transparent; border: none; }
.search-form .keyword .btn-search { width: 40px; height: 40px; padding: 0; border-radius: 0; display: flex; align-items: center; justify-content: center;	position: absolute; top: 0; right: 0; }
.search-form .keyword .btn-search:before {	width: 22px; height: 22px; content: ""; background: url("../images/btn_icon.png") top left no-repeat;	background-position: -75px 0; display: inline-block; position: relative; top: -1px; }
.search-form .btn-marker { width: 36px; min-width: 36px; height: 44px; margin-left: 10px; padding: 0; background-color: #1778cc; border: 1px solid #606060; border-radius: 5px; display: flex; align-items: center; justify-content: center; }
.search-form .btn-marker:hover { background-color: #1466ae; border-color: #606060; }
.search-form .btn-marker:before { width: 22px; height: 22px; content: ""; background: url("../images/btn_icon.png") top left no-repeat; background-position: -102px 0; display: inline-block; }
.search .result-list { margin-bottom: 20px; border-top: 1px solid #b9b9b9; border-bottom: 1px solid #b9b9b9; color: #6f6f6f; }
.search .result-list ul > li { padding: 15px 0; display: flex; align-items: center; }
.search .result-list ul > li + li { border-top: 1px solid #b9b9b9; }
.search .result-list .info { width: calc(100% - 46px); text-align: left; display: flex; flex-direction: column; position: relative; }
.search .result-list .info .name { min-height: 20px; max-height: 42px; padding-right: 25px; color: #000; font-weight: normal; font-size: 1.063rem; line-height: 1.3; word-wrap: break-word; word-break: break-all; white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
.search .result-list .info .type { font-size: .875rem; text-align: right; }
.search .result-list .info .addr { min-height: 19px; max-height: 39px; font-weight: normal; line-height: 1.3; word-wrap: break-word; white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
.search .result-list .info .residence { width: 18px; height: 18px; padding: 0; background-color: #fff; border: 1px solid #6e41de; border-radius: 50px; font-size: .75rem; display: flex; align-items: center; justify-content: center; position: absolute; top: -1px; right: 0; }
.search .result-list .info .residence.color-1 { border-color: #68a315; color: #68a315; }
.search .result-list .info .residence.color-2 { border-color: #0681ce; color: #0681ce; }
.search .result-list .btn-marker { width: 36px; min-width: 36px; height: 44px; margin-left: 10px; padding: 0; background-color: #fff; border: 1px solid #6e41de; border-radius: 5px; display: flex; align-items: center; justify-content: center; }
.search .result-list .btn-marker:before { width: 22px; height: 22px; content: ""; background: url("../images/btn_icon.png") top left no-repeat; background-position: -129px 0; display: inline-block; }
.search .result-list .btn-marker:hover { background-color: #f4f0fc; }
.search .result-list .none { padding: 10rem 0; color: #bbbbbb; display: flex; align-items: center; justify-content: center; }
.search .search-condition { margin-bottom: 25px; }
.search .search-condition ul { margin-bottom: 25px; }
.search .search-condition ul > li { display: flex; align-items: flex-start; }
.search .search-condition ul > li + li { margin-top: 15px; }
.search .search-condition ul > li .label { min-width: 120px; padding: 4px 0 3px 0; text-align: left; }
.search .search-condition ul > li .custom-switch { min-width: 85px; display: flex; align-items: center; }
.search .search-condition ul > li .custom-switch .label { width: 100%; min-width: auto; }
.search .search-condition ul > li .custom-switch .custom-control-label::before { top: 4px; }
.search .search-condition ul > li .custom-switch .custom-control-label::after { top: 8px; }
.search .search-condition ul > li .form-group { width: 100%; margin-bottom: 0; }
.search .search-condition ul > li .flex { width: 100%; display: flex; }
.search .search-condition ul > li .flex + .flex { margin-left: 10px; }
.search .search-condition ul > li .flex .label { min-width: auto; margin-right: 10px; display: flex; align-items: center; }

/* 레이어 팝업 */
.layer-popup { min-width: 450px; box-shadow: rgba(0,0,0,.2) 5px 5px 10px; clip-path: inset(50%); position: absolute; }
.layer-popup.show { clip-path: none; }
.layer-popup .head { padding: 13px 20px; background-color: #2c17ca; display: flex; position: relative; }
.layer-popup .head .tit { margin-right: auto; color: #fff; font-size: 1rem; }
.layer-popup .head .btn-close { width: 46px; height: 46px; cursor: pointer; display: inline-block; position: absolute; top: 0; right: 0; }
.layer-popup .head .btn-close span { display: none; }
.layer-popup .head .btn-close:before, .layer-popup .head .btn-close:after { width: 20px; height: 2px; content: ""; background-color: #fff; position: absolute; top: 22px; right: 12px; }
.layer-popup .head .btn-close:before { transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); -ms-transform: rotate(-135deg); }
.layer-popup .head .btn-close:after { transform: rotate(135deg); -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); -ms-transform: rotate(135deg); }
.layer-popup .body { min-height: 100px; padding: 20px; background-color: #fff; }
.layer-popup .body .tit { margin-bottom: 10px; font-size: 1.063rem; color: #6f6f6f; display: flex; }
.layer-popup .body .tit:before { width: 3px; height: 16px; margin-right: 7px; content: ""; background-color: #21b699; border-radius: 5px; display: inline-block; position: relative; top: 2px; }
.layer-popup .body .tit em { margin-left: auto; font-style: normal; font-size: .938rem; }
.layer-popup .body .large-tit { height: 39px; margin: 0 0 20px 0; padding: 7px 15px; background-color: #6e41de; border-radius: 70px; box-sizing: border-box; color: #fff; font-size: 1.188rem; font-weight: normal; position: relative; }
.layer-popup .search-condition { margin-bottom: 15px; }
.layer-popup .search-condition .tr { display: flex; }
.layer-popup .search-condition .form-group { display: flex; align-items: center; }
.layer-popup .search-condition .form-group .lable { margin-right: 10px; }
.layer-popup .search-condition .form-group + .form-group { margin-left: 20px; }
.layer-popup .search-condition .form-group .form-control + .form-control { margin-left: 5px; }
.layer-popup .search-condition .action-btn-group { margin-left: auto; }
.layer-popup .search-condition .action-btn-group .btn { height: 28px; padding: 1px 15px 0 15px; }
.layer-popup .search-condition .action-btn-group .btn .ico { width: 15px; height: 15px; background-size: 390px auto; }
.layer-popup .search-condition .action-btn-group .btn .ico.ico-search { background-position: -19px 0; }
.layer-popup .scroll-tbody { height: 304px; overflow-y: auto; }

/* 지도영역 */
.balloon { min-width: 80px; padding: 7px 10px; border-radius: 8px; box-sizing: border-box; color: #fff; display: flex; align-items: center; justify-content: center; flex-direction: column; position: absolute; }
.balloon.circle { width: 115px; height: 115px; border-radius: 150px; }
.balloon .txt-lg { font-size: 1.063rem; }
.balloon .txt-sm { font-size: .875rem; }
.balloon.lv-1 { background-color: rgba(244,140,6,.8); }
.balloon.lv-2 { background-color: rgba(232,93,4,.8); }
.balloon.lv-3 { background-color: rgba(220,47,2,.8); }
.balloon.lv-4 { background-color: rgba(208,0,0,.8); }
.balloon.lv-5 { background-color: rgba(157,2,8,.8); }
.balloon.color-1 { background-color: rgba(0,100,148,.8); }
.balloon.color-2 { background-color: rgba(5,130,202,.8); }
.balloon.color-3 { background-color: rgba(0,166,251,.8); }
.balloon.color-4 { background-color: rgba(112,224,0,.8); }
.balloon.color-5 { background-color: rgba(252,191,73,.8); }
.balloon.color-6 { background-color: rgba(247,127,0,.8); }
.balloon.color-7 { background-color: rgba(214,40,40,.8); }
.balloon .up { width: 24px; height: 19px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAATCAYAAACKsM07AAAAyElEQVR42mNgIBLcNQtxB+JzQHwUiO0YqAWAhrECcTkQfwbi/1D8FoizgJiRUsNlgHg1ksHoeCEQi5JruAcQX8NjOAyfJSnIgIrZgbgCiH8QYTgMg4IvD4hZCBmuAMTrSTAYHS8CYklchnsB8Q0KDIfhC0Bsj2wwJxDXAPF3KhgOwx+AuAAcZEBiFRUNRsezQRaUAfFMIJ4ExROAeDIQPyTBoJtQfZOQ8GxQxOOL8NkkWNBKTj4gxYI2ciyYS4IFHaMWjFpAOwsAJMVhE35FkF8AAAAASUVORK5CYII='); display: inline-block; position: absolute; top: -19px; left: 0; }
.balloon .down { width: 24px; height: 19px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAATCAYAAACKsM07AAAAxElEQVR42mNgwAHYGs/NBeL/ROIOBlLBqAWjFlDFgtkkWNBGawta8RlUBsQzgXgSFE8A4slA/JAEC25C9U1CwiAH5oEsWEWCQaTi2SALOIG4Boi/U9HgD0BcAMQsyEHlBcQ3qGD4BSC2xxUfCkC8ngLDFwGxJKHUww7EFUD8gwSDP4MiFCVIiEimHkB8jQjDzwKxHQM5AKhRBohX4zF8IRCLMlACgAawAnE5NBhgBr8F4iwgZmSgFgAa5g7E54D4KClBAgBm/k47lU7uxgAAAABJRU5ErkJggg=='); display: inline-block; position: absolute; bottom: -19px; left: 0; }

/* 현재 위치정보 */
.location-pop { width: 300px; padding: 20px 40px 20px 20px; background-color: #fff; -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); position: absolute; top: -360px; left: -129px; z-index: 62; }
.location-pop:before { margin-left: -14px; content: ""; border-top: 18px solid #fff; border-left: 8px solid transparent; border-right: 8px solid transparent; display: inline-block; position: absolute; left: 50%; bottom: -18px; }
.location-pop .name { min-height: 18px; margin-bottom: 2px; font-size: 1.063rem; line-height: 1.3; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all; }
.location-pop .name:before { width: 22px; height: 22px; margin-right: 5px; content: ""; background: url("../images/btn_icon.png") top left no-repeat; background-position: -129px 0; vertical-align: middle; display: inline-block; position: relative; top: 1px; }
.location-pop .type { text-align: right; color: #6f6f6f; letter-spacing: -.3px; line-height: 1.3; }
.location-pop .addr { height: 20px; margin-top: 7px; color: #6f6f6f; letter-spacing: -.3px; line-height: 1.3; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; position: relative; }
.location-pop .btn-close { width: 40px; height: 40px; cursor: pointer; display: inline-block; position: absolute; top: 0; right: 0; }
.location-pop .btn-close span { display: none; }
.location-pop .btn-close:before, .location-pop .btn-close:after { width: 20px; height: 2px; content: ""; background-color: #000; position: absolute; top: 19px; right: 10px; }
.location-pop .btn-close:before { transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); -ms-transform: rotate(-135deg); }
.location-pop .btn-close:after { transform: rotate(135deg); -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); -ms-transform: rotate(135deg); }

/* 범례 */
.legend { min-width: 200px; box-shadow: rgba(0,0,0,.2) 5px 5px 10px; display: block; position: absolute; bottom: 15px; transform: translateX(405px); transition-duration: 250ms; }
.legend .head { padding: 8px 20px; background-color: #2c17ca; display: flex; justify-content: center; position: relative; }
.legend .head .tit { color: #fff; font-size: 1rem; }
.legend .body { min-height: 100px; padding: 15px; background-color: #fff; }
.legend .body ul li { padding-left: 21px; font-size: .875rem; position: relative; }
.legend .body ul li + li { margin-top: 3px; }
.legend .body ul li > i { width: 14px; height: 14px; display: inline-block; position: absolute; top: 2px; left: 0; }

/* 범례2 */
.btn-open-legend { width: 45px; height: 45px; padding: 0; background-color: #1a427c; border-radius: 50px; box-sizing: border-box; color: #fff; display: flex; align-items: center; justify-content: center; position: absolute; bottom: 15px;  transform: translateX(405px); }
.btn-open-legend:before { width: 21px; height: 14px; content: ""; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAOCAYAAADABlfOAAAA6klEQVR42rXUr4oCURSA8csaLBvMJpNpF4O+gxZ9ARVUsIh/oskHMPkMI4hgVLNlRRCWDZtsgqDVAUExyPgdOOFi0eHigR/DvTAfzGVmTBAEReyxRc4wXFNY4whfr8/42qhJwJ6zRn8Ch5HAylqPNdpzaP5KIII6qsYa1nm00Qmhgqh5y1BOymNjiLjufaKPKWYhePiSwMk6j3+NDh3O9CKBq7Wx0ejYIXqTwDcmGCGh0RgGmIckjbR528jrhPLDXhZNtEIo4UNuXljn4Wmw63Cmy8fP9KrRletnWsMBOxQ0msGf9aN4lTQad80DdX5Qt9dAAAAAAElFTkSuQmCC'); display: inline-block; }
.btn-open-legend span { display: none; }
.legend-2.show { display: flex; width: 220px; height: 350px;}
.legend-2 { padding: 15px; background-color: #fff; box-shadow: rgba(0,0,0,.2) 5px 5px 10px; display: none; flex-direction: column; position: absolute; bottom: 15px; transform: translateX(405px); transition-duration: 250ms; }
.legend-2 .wrap { display: flex; }
.legend-2 ul { display: flex; flex-direction: column; }
.legend-2 ul > li + li { margin-top: -4px; }
.legend-2 ul > li > span { width: 175px; height: 45px; padding: 0 7px; box-sizing: border-box; font-size: .90rem; color: #fff; display: flex; align-items: center; justify-content: flex-end; }
.legend-2 .color-type { width: 15px; margin-left: 25px; display: flex; flex-direction: column; }
.legend-2 .color-type a { width: 20px; height: 20px; border-radius: 20px; background-color: #000; display: inline-block; }
.legend-2 .color-type a + a { margin-top: 6px; }
.legend-2 .color-type a:hover:after, .legend-2 .color-type a.active:after { width: 8px; height: 3px; content: ""; margin: 6px 6px; border-left: 2px solid #fff; border-bottom: 2px solid #fff; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); display: block; }

/* 모니터링 > 실거래 상세정보 */
.trade-detail { margin-bottom: 15px; }
.trade-detail > li { color: #6f6f6f; display: flex; }
.trade-detail > li + li { margin-top: 5px; }

.trade-detail > li strong { width: 120px; margin-right: 10px; }
.trade-detail > li p { color: #000; display: inline-block; }
.color-blue thead th { background-color: #0a32c6; color: #fff; }
.color-blue thead th.highlight { background-color: #dd3654; }
.color-blue tbody td.highlight { color: #dd3654; }
.table tbody td.color-1 { background-color: rgba(0,100,148,.8); }
.table tbody td.color-2 { background-color: rgba(5,130,202,.8); }
.table tbody td.color-3 { background-color: rgba(0,166,251,.8); }
.table tbody td.color-4 { background-color: rgba(112,224,0,.8); }
.table tbody td.color-5 { background-color: rgba(252,191,73,.8); }
.table tbody td.color-6 { background-color: rgba(247,127,0,.8); }
.table tbody td.color-7 { background-color: rgba(214,40,40,.8); }
.property-info { margin-bottom: 15px; display: flex; }
.property-info .left { margin-right: auto; }
.property-info .right { margin-left: auto; }
.property-info .badge { margin-right: 3px; }
[slider] { position: relative; height: 14px; border-radius: 10px; text-align: left; margin: 10px 0 5px 0; }
[slider] > div { position: absolute; left: 10px; right: 10px; height: 10px; }
[slider] > div > [inverse-left] { position: absolute; left: 0; height: 10px; border-radius: 10px; background-color: #e7e7e7; margin: 0; }
[slider] > div > [inverse-right] { position: absolute; right: 0; height: 10px; border-radius: 10px; background-color: #e7e7e7; margin: 0; }
[slider] > div > [range] { position: absolute; left: 0; height: 10px; border-radius: 14px; background-color: #1778cc; }
[slider] > div > [thumb] { position: absolute; top: -5px; z-index: 2; height: 18px; width: 18px; text-align: left; margin-left: -11px; cursor: pointer; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); background-color: #FFF; border-radius: 50%; outline: none; }
[slider] > input[type=range] { position: absolute; pointer-events: none; -webkit-appearance: none; z-index: 3; height: 14px; top: -2px; width: 100%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }
div[slider] > input[type=range]::-ms-track { -webkit-appearance: none; background: transparent; color: transparent; }
div[slider] > input[type=range]::-moz-range-track { -moz-appearance: none; background: transparent; color: transparent; }
div[slider] > input[type=range]:focus::-webkit-slider-runnable-track { background: transparent; border: transparent; }
div[slider] > input[type=range]:focus { outline: none; }
div[slider] > input[type=range]::-ms-thumb { pointer-events: all; width: 28px; height: 28px; border-radius: 0px; border: 0 none; background: red; }
div[slider] > input[type=range]::-moz-range-thumb { pointer-events: all; width: 28px; height: 28px; border-radius: 0px; border: 0 none; background: red; }
div[slider] > input[type=range]::-webkit-slider-thumb { pointer-events: all; width: 28px; height: 28px; border-radius: 0px; border: 0 none; background: red; -webkit-appearance: none; }
div[slider] > input[type=range]::-ms-fill-lower { background: transparent; border: 0 none; }
div[slider] > input[type=range]::-ms-fill-upper { background: transparent; border: 0 none; }
div[slider] > input[type=range]::-ms-tooltip { display: none; }
[slider] > div > [sign] { min-width: 30px; padding: 0 5px; box-sizing: border-box; opacity: 0; position: absolute; margin-left: -17px; top: -39px; z-index:3; background-color: #1778cc; color: #fff; height: 24px; border-radius: 28px; -webkit-border-radius: 4px; align-items: center; -webkit-justify-content: center; justify-content: center; text-align: center; }
/* [slider] > div > [sign]:after { position: absolute; content: ''; left: 50%; margin-left: -8px; border-radius: 16px; top: 20px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top-width: 16px; border-top-style: solid; border-top-color: #1778cc; } */
[slider] > div > [sign] > span { font-size: 12px; font-weight: 700; line-height: 28px; }
[slider]:hover > div > [sign] { opacity: 1; }

/* 허가구역 관리 > 토지거래 허가구역 목록 */
.landtrade-area .tit { margin-bottom: 10px; font-size: 1.063rem; color: #6f6f6f; display: flex; }
.landtrade-area .tit:before { width: 3px; height: 16px; margin-right: 7px; content: ""; background-color: #21b699; border-radius: 5px; display: inline-block; position: relative; top: 2px; }
.landtrade-area .result-list { padding: 15px 0; border-top: 1px solid #b9b9b9; border-bottom: 1px solid #b9b9b9; display: flex; flex-direction: column; }
.landtrade-area .result-list .none { padding: 10rem 0; color: #bbbbbb; display: flex; align-items: center; justify-content: center; }
.landtrade-area .btn-group > a + a { margin-left: 3px; }
.landtrade-area .btn-xls { width: 22px; height: 22px; background: url("../images/btn_icon.png") no-repeat 0 0; background-position: -156px 0; display: inline-block; }
.landtrade-area .btn-shp { width: 22px; height: 22px; background: url("../images/btn_icon.png") no-repeat 0 0; background-position: -183px 0; display: inline-block; }
.average-price, .land-list { border: 1px solid #b9b9b9; overflow-y: auto; position: relative; }
.average-price { height: 138px; }
.land-list { height: 193px; }

/* 즐겨찾기 */
.bookmark-list { padding-bottom: 30px; }
.bookmark-list .thum { margin: 0; position: relative; }
.bookmark-list .thum + .thum {	margin-top: 1rem; }
.bookmark-list .thum .img { height: 200px; cursor: pointer; }
.bookmark-list .thum .img img { width: 100%; height: 100%; }
.bookmark-list .thum .badge { background-color: #6e41de; color: #fff; font-size: 1rem; cursor: default; position: absolute; top: 10px; left: 10px; }
.bookmark-list .thum .del { width: 30px; height: 30px; margin-left: auto;	background-color: rgba(0, 0, 0, 0.5); display: flex; position: absolute; top: 0; right: 0; }
.bookmark-list .thum .del:hover:before, .bookmark-list .thum .del:hover:after { opacity: 1;	transition-duration: 250ms; }
.bookmark-list .thum .del:before, .bookmark-list .thum .del:after { width: 18px; height: 1px; content: ""; background-color: #fff; opacity: 0.6;	position: absolute; top: 15px; right: 6px; }
.bookmark-list .thum .del:before { transform: rotate(-135deg); -webkit-transform: rotate(-135deg);	-moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); -ms-transform: rotate(-135deg); }
.bookmark-list .thum .del:after { transform: rotate(135deg); -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); -ms-transform: rotate(135deg); }
.bookmark-list + .action-btn-group { width: 100%; padding: 15px; background-color: #fff; box-sizing: border-box; position: absolute; left: 0; bottom: 0; }

/* 도구모음 > 분석기능 > 임의영역 추출 */
/* 도구모음 > 분석기능 > 토지/건물 정보 추출 */
.building-extra .body > ol, .random-extra .body > ol { margin-bottom: 20px; }
.building-extra .body > ol > li, .random-extra .body > ol > li { display: flex; align-items: center; }
.building-extra .body > ol > li + li, .random-extra .body > ol > li + li { margin-top: 8px; }
.building-extra .body > ol > li > .tit, .random-extra .body > ol > li > .tit { margin-bottom: 0 !important; }
.building-extra .body > ol > li > *:nth-child(1), .random-extra .body > ol > li > *:nth-child(1) { margin-right: auto; }
.building-extra .body > ol > li > *:nth-child(2), .random-extra .body > ol > li > *:nth-child(2) { margin-left: auto; }
.building-extra .body > ol > li > .btn + .btn, .random-extra .body > ol > li > .btn + .btn { margin-left: 5px; }
.random-extra .body > ol > li .icon { padding-left: 48px; position: relative; }
.random-extra .body > ol > li .icon i { width: 18px; height: 18px; vertical-align: middle; display: inline-block; position: absolute; left: 24px; }
.random-extra .body > ol > li .icon i img { width: 100%; height: 100%; }

/* 설정 > 사용자등록 */
.user-regist .wrap { margin-bottom: 30px; display: flex; }
.user-regist .tit { margin-bottom: 20px; font-size: 1.188rem; text-align: left; }
.user-regist .left-area { width: 75%; }
.user-regist .left-area ul li { width: calc(100% / 3 - 30px); }
.user-regist ul { margin: 0 -20px; display: flex; flex-wrap: wrap; }
.user-regist ul li { padding: 0 15px; display: flex; flex-direction: column; }
.user-regist ul li > label { margin-bottom: 8px; padding-left: 10px; box-sizing: border-box; font-size: 1rem; line-height: 1.25; color: #6f6f6f; display: flex; flex-wrap: wrap; position: relative; }
.user-regist ul li > label:before { width: 3px; min-width: 3px; height: 15px; content: ""; background-color: #6e41de; border-radius: 5px; display: inline-block; position: absolute; top: 1px; left: 0; }
.user-regist .duplication { display: flex; }
.user-regist .duplication .btn { margin-left: 7px; }
.user-regist .required { display: inline-block; }
.user-regist .required:before { margin-left: 3px; content: "*"; color: #dd3654; display: inline-block; }
.user-regist .required span { display: none; }
.user-regist .right-area { width: 25%; margin-left: 30px; padding-left: 30px; border-left: 1px solid #ccc7c7; }
.user-regist .right-area ul li { width: calc(100% - 30px); }

/* 설정 > 권한그룹관리 */
.permission-group { display: flex; }
.permission-group .tit { margin-bottom: 20px; font-size: 1.188rem; text-align: left; }
.permission-group .left-area { width: 40%; }
.permission-group .right-area { width: 60%; margin-left: 30px; padding-left: 30px; border-left: 1px solid #ccc7c7; }
.permission-group .search-condition .tr + .tr { margin-top: 10px; }

/* 설정 > 범례 색상 설정 */
.color-list { margin-bottom: 40px; }
.color-list > li { display: flex; align-items: flex-start; }
.color-list > li + li { margin-top: 15px; }
.color-list > li .name { width: 150px; min-width: 150px; margin-right: 25px; padding: 4px 0 0 10px; box-sizing: border-box; font-size: 1rem; line-height: 1.25; color: #6f6f6f; display: flex; flex-wrap: wrap; position: relative; }
.color-list > li .name:before { width: 3px; min-width: 3px; height: 15px; content: ""; background-color: #6e41de; border-radius: 5px; display: inline-block; position: absolute; top: 5px; left: 0; }
.color-list > li .preset { margin-right: 25px; display: flex; }
.color-list > li .preset .color { width: 60px; height: 27px; }
.color-group-list > ul { display: flex; }
.color-group-list > ul > li { display: flex; }
.color-group-list > ul > li + li { margin-left: 30px; }
.color-group-list > ul > li .main-color { width: 20px; height: 20px; margin-bottom: 5px; border: 1px solid #ccc; border-radius: 50px; position: relative; }
/* .color-group-list > ul > li > a:hover .main-color:before { width: 18px; height: 18px; content: ""; border: 3px solid #D37888; border-radius: 50px; position: absolute; top: -1px; left: -1px; } */
.color-group-list > ul > li > a.active .main-color:before { width: 18px; height: 18px; content: ""; border: 2px solid #dd3654; border-radius: 50px; position: absolute; top: -1px; left: -1px; }
.color-group-list > ul > li > a + a { margin-left: 5px; }
.color-group-list > ul > li > a > ol { width: 20px; border: 1px solid #ccc; border-radius: 50px; overflow: hidden; }
.color-group-list > ul > li > a > ol > .color { width: 20px; height: 20px; }

/* 원형 파이 메뉴 */
.circle-menu { width: 240px; height: 240px; background: url("../images/circle_menu.svg") no-repeat 0 0; background-size: cover; color: #fff; position: relative; }
.circle-menu .center { width: 109px; height: 109px; text-align: center; line-height: 1.3; word-break: keep-all; display: flex; justify-content: center; align-items: center; flex-direction: column; position: absolute; top: 66px; left: 66px; }
.circle-menu .center span { margin-top: 3px; font-size: .875rem; }
.circle-menu .center em { margin-top: 3px; font-size: .875rem; font-style: normal; }
.circle-menu ul li {  text-align: center; display: flex; flex-direction: column; align-items: center; position: absolute; }
.circle-menu ul li:nth-child(1) { top: 10px; left: 105px; }
.circle-menu ul li:nth-child(2) { top: 44px; left: 176px; }
.circle-menu ul li:nth-child(3) { top: 119px; left: 195px; }
.circle-menu ul li:nth-child(4) { top: 182px; left: 146px; }
.circle-menu ul li:nth-child(5) { top: 182px; left: 68px; }
.circle-menu ul li:nth-child(6) { top: 119px; left: 17px; }
.circle-menu ul li:nth-child(7) { top: 44px; left: 36px; }

.fix-data-table { width: calc(100vw - 294px); min-width: 1100px; display: flex; }
.fix-data-table .table { margin-bottom: 0; }
.fix-data-table .thead { width: 270px; }
.fix-data-table .tbody { width: calc(100% - 270px); overflow-x: auto; }
.fix-data-table .tbody .table { width: max-content; }